*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: scroll;
  margin-bottom: 0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.frame-square {
  text-align: center;
}

.frame-square .img-fluid {
  display: inline-block;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.img-fluid:hover {
  opacity: 0.5;
}

.img-fluid {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.row1 {
  display: flex;
  padding-bottom: 25px;
}

footer {
  margin-bottom: 0;
}

.column1 {
  flex: 25%;
  padding: 5px;
}

.column2 {
  flex: 25%;
  padding: 5px;
}

.row2 {
  display:flex;
}

@media screen and (max-width: 500px) {
  .column1 .column2{
    width: 100%;
  }
}

.row1::after .row2::after{
  content: "";
  clear: both;
  display: table;
}

ul.navbar {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav-item {
  float:left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color:white;
  padding-left: 7px;
}

li.nav-item a.nav-link {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-item a.nav-link:hover {
  color:#f03f35;
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 1);
}

.section-heading {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #f03f35;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 0px;
}

.bio {
  font-family: 'Cardo', serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.493);
  font-size: 22px;
  padding-top: 75px;
  padding-bottom: 100px;
}

#about {
  padding-top:0px;
  background-color: #b7e3e4;
  overflow:auto;
}

#portfolio {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 0px;
  overflow:auto;
}

#portfolio-caption {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size: 25px;
  padding-top:0px;
  padding-bottom:30px;
}

.position {
  color: white;
}

.portfolio-title {
  color: #f03f35;
}

.link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.link:hover {
  color:#f03f35;
  text-decoration: none;
}

#lab_social_icon_footer {
  padding: 25px 0;
  background-color:#b7e3e4;
  margin-bottom: 0;
}

.copyright {
  font-family:'Oswald', sans-serif;
  font-size: 20px;
  color: #f03f35;
  padding-left: 40px;
  padding-top: 0px;
  text-align: center;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-li:hover {
  color: #007bb5;
}

#lab_social_icon_footer #social-gh:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

.exp {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #f03f35;
}

.exp:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.role {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size: 20px;
  opacity: 0.8;
}
