/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    overflow: auto !important;
    max-width: 100%;
    max-height: 100%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    size: 200px;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color:rgba(0, 0, 0, 0.3);
}

.modal-body {
    padding: 2px 16px;
    background-color:white;
    color: black;
    font-size: 20px;
    overflow: auto;
}

.header-text {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: rgba(240,63,53,1); 
    padding-top: 10px;
    padding-bottom: 5px;
}

#header-block {
    flex: 50%;
}

.header-caption {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    opacity: 0.8;
}

.exp-content {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.img-fluid2 {
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    height: 400px;  
}

.close-button {
    padding: 2px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: rgba(240,63,53,1);
    color: white;
    border-color: black;
    border-width: 2px;
    margin-bottom: 15px;
}

.close-button:hover {
    background-color: white;
    color: rgba(240,63,53,1);
}

.modal-body #img-boeing {
    width: 500px;
    height: 425px;
}

.modal-body #img-cais {
    width: 600px;
    height: 425px;
}

.modal-body #img-scope {
    width: 500px;
    height: 425px;
}

.modal-body #img-soccer {
    width: 600px;
    height: 425px;
}