

.slides-navigation .prev,
.slides-navigation .next
{
width: 47px;
height: 47px;
background-size: cover;
background-repeat: no-repeat;
padding-top: 0px;
margin: 0 auto 0;
}

.exp-content a {
    text-decoration: none !important;
    color: rgba(240,63,53,1) !important;
}

.exp-content a:hover {
    color: #b7e3e4 !important;
}

.slides-navigation a.prev
{
left: 20px;
background-image: url(../icons/prev.png);
}

.slides-navigation a.next
{
right: 20px;
background-image: url(../icons/next.png);
}

.slides-navigation a:hover 
{
    opacity: .5;
}

.titleMessage{
position: absolute; 
width: 100%; 
height: 250px; 
top: 50%; 
z-index: 5; 
text-align: 
center; margin-top: -125px;
}

.titleMessage .heading p{
color: #fff;
text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
font-weight: 300;
letter-spacing: 7px;
}

.titleMessage .heading .main{
font-size: 75px;
font-weight: 100px;
}

.titleMessage .heading .sub{
font-size: 35px;
}

.overlay{
width: 100%; 
height: 100%; 
position: absolute; 
z-index: 3;
}

.slides-navigation 
{
z-index: 6;
}