*{
    padding: 0;
    margin: 0;
  }
  
  .header-image {
     width: 100%;
     height: 600px;
     background: url('img/flame2.jpg');
     background-size: cover;
     padding-top:0px;
  }
  
  .header-text {
    position: absolute;
    top: 78%;
    left:60%;
    transform: translate(-50%, -50%);
  }
  
  #header {
    color: white;
    font-size: 79px;
    font-family:'Oswald', sans-serif;
    text-align:center;
  }

  .navbar-nav {
    display:inline-block;
    padding-left: 0px;
    color: white;
  }

  #color {
      color: white;
  }
  
  .container ul {
    list-style:none;
    margin: 4px;
    padding: 5px;
  }

  .navbar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    color:white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  .navbar-nav li {
    display: inline-block;
    padding: 0 5px;
  }
  
  #myNavBar {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    color:white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  #myNavbar a:hover {
    color:#f03f35;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom:0px;
    padding-top:0px;
    background-color: rgba(0, 0, 0, 0.493);
  }
  
  #menu.scrolled {
    background-color: rgba(0, 0, 0, 0.493) !important;
    transition: background-color 200ms linear;
  }
  
  .section-heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #f03f35;
    font-size: 50px;
    padding-top: 120px;
    padding-bottom: 0px;
  }
  
  .bio {
    font-family: 'Cardo', serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.493);
    font-size: 22px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #about {
    padding-top:0px;
    background-color: #b7e3e4;
    overflow:auto;
  }
  
  #portfolio {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 0px;
    overflow:auto;
  }
  
  #portfolio-caption {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 25px;
    padding-top:0px;
    padding-bottom:75px;
  }
  
  .position {
    color: white;
  }
  
  .portfolio-title {
    color: #f03f35;
  }
  
  .row {
    max-width: 99%;
    padding-bottom: 50px;
    white-space: nowrap;
    display: inline-block;
  }

  .single + .prosum-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  .single + .boeing-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  .single + .gwc-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  .single + .gals-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  .single + .piano-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  .single + .ch-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal; 
  }

  .single + .soccer-intro {
    display: table-cell;
    width: 50%;
    text-align: left;
    margin: 0 1%;
    white-space: normal;
  }

  @media screen and (max-width: 480px) {

    .single + .boeing-intro + .ch-intro +.gals-intro +.gwc-intro +.prosum-intro +.soccer-intro +.piano-intro {
        display: block;
        width:100%;
        margin: 0 auto;
    }

}

  .img-fluid1 {
    float: left;
    padding-left: 75px;
    padding-right: 10px;
    padding-top: 20px;
  }
  
  .img-fluid2 {
    float: right;
    padding-right: 75px;
    padding-left: 100px;
  
  }
  
  .img-fluid3 {
  float: left;
  padding-left: 75px;
  padding-right: 70px;
  }
  
  .img-fluid4 {
    float: right;
    padding-right: 75px;
    padding-left: 100px;
  
  }
  .img-fluid5 {
    float: left;
    padding-left: 75px;
    padding-right: 60px;
   }
  
   .img-fluid6 {
     float: right;
     padding-right: 75px;
     padding-left: 75px;
     padding-top: 10px;
   }
  
   .img-fluid7 {
     float: left;
     padding-left: 75px;
     padding-bottom: 25px;
     padding-right: 100px;
   }
  
  .prosum-intro {
    font-family: 'Oswald', sans-serif;
    padding-top: 0px;
    padding-left: 75px;
  }
  
  .boeing-intro {
    font-family: 'Oswald', sans-serif;
    padding-left: 75px;
    padding-top: 0px;
  }
  
  .gwc-intro {
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
    padding-left: 75px;
  }
  
  .gals-intro {
    font-family: 'Oswald', sans-serif;
    padding-left: 75px;
  }
  
  .piano-intro {
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
    padding-left: 75px;
  }
  
  .ch-intro {
    padding-top: 0px;
    font-family: 'Oswald', sans-serif;
    padding-left: 75px;
  }
  
  .soccer-intro {
    font-family: 'Oswald', sans-serif;
    padding-top: 0px;
    padding-left: 75px;
  }
  
  ul.prosum-content {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  
  ul.boeing-content {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 25px;
    font-size: 20px;
    padding-top: 10px;
    color: black;
  }
  
  ul.gwc-content {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 10px;
    font-size: 20px;
    color: black;
  }
  
  ul.gals-content {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 20px;
    color: black;
  }
  
  ul.piano-content {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 10px;
    font-size: 20px;
    color: black;
  }
  
  ul.ch-content {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 20px;
    color: black;
  }
  
  ul.soccer-content {
    list-style-type: square;
    list-style-position: outside;
    padding-top: 10px;
    font-size: 20px;
    color: black;
  }
  
  .link {
    color: white;
    font-weight: 100;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .link:hover {
    color:#f03f35;
    text-decoration: none;
  }
  
  #lab_social_icon_footer {
    padding: 40px 0;
    background-color:#b7e3e4;
  }
  
  .copyright {
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    color: #f03f35;
    padding-left: 40px;
    padding-top: 100px;
    text-align: center;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-li:hover {
    color: #007bb5;
  }
  
  #lab_social_icon_footer #social-gh:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

  
